build/
devel/
logs/
__pycache__/
.catkin_tools/
catkin_simple/
PlotJuggler/
plotjuggler_msgs/
plotjuggler-ros-plugins/
record_radar_data/
record_radar_data_backup/
record_radar_data_superbackup/
ros_radar_info/.vscode/*
.vscode/
ofxRadar24Ghz/example_radar24Ghz_mfcc/bin/data/*
ofxRadar24Ghz/example_radar24Ghz_mfcc/obj/*
ofxRadar24Ghz/.idea
ofxRadar24Ghz/.cproject
ofxRadar24Ghz/.project
saved_SNN/
*.pyc
myANN/
